* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf

*.7z binary
*.aab binary
*.apk binary
*.bin binary
*.gif binary
*.gz binary
*.img binary
*.jpg binary
*.jpeg binary
*.png binary
*.tar binary
*.webp binary
*.zip binary
